### Time Complexities

<table style="width:100%; border-collapse: collapse;">
  <thead>
    <tr>
      <th style="border: 1px solid #ddd; padding: 8px; background-color: #f2f2f2; text-align: left;">Complexity</th>
      <th style="border: 1px solid #ddd; padding: 8px; background-color: #f2f2f2; text-align: left;">When it happens</th>
      <th style="border: 1px solid #ddd; padding: 8px; background-color: #f2f2f2; text-align: left;">Example</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">O(1) Constant</td>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">No matter <code>n</code>, work is fixed</td>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;"><code>return x + y</code></td>
    </tr>
    <tr>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">O(log n) Logarithmic</td>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">Divide problem in half each time</td>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">Binary Search</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">O(n) Linear</td>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">One loop over all elements</td>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">Printing array</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">O(n log n) Linearithmic</td>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">Loop with divide & conquer</td>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">Merge Sort</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">O(n²) Quadratic</td>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">Two nested loops</td>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">Comparing every pair</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">O(2ⁿ) Exponential</td>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">Try all possibilities</td>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">Subset generation</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">O(n!) Factorial</td>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">Try all permutations</td>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">Travelling salesman brute force</td>
    </tr>
  </tbody>
</table>

#### Recursion

<table style="width:100%; border-collapse: collapse;">
  <thead>
    <tr>
      <th style="border: 1px solid #ddd; padding: 8px; background-color: #f2f2f2; text-align: left;">Complexity</th>
      <th style="border: 1px solid #ddd; padding: 8px; background-color: #f2f2f2; text-align: left;">When it happens (Recursion)</th>
      <th style="border: 1px solid #ddd; padding: 8px; background-color: #f2f2f2; text-align: left;">Example</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">O(1) Constant</td>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">Single recursive call without looping</td>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;"><code>if n == 0: return 1</code></td>
    </tr>
    <tr>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">O(log n) Logarithmic</td>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">Each call halves the problem</td>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;"><code>Binary Search recursion</code></td>
    </tr>
    <tr>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">O(n) Linear</td>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">One call per element</td>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;"><code>Sum of array recursively</code></td>
    </tr>
    <tr>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">O(n log n) Linearithmic</td>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">Divide & conquer with merge step</td>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;"><code>Merge Sort recursion</code></td>
    </tr>
    <tr>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">O(n²) Quadratic</td>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">Recursive call inside a loop over n items</td>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;"><code>Check subsequence with recursion in loop</code></td>
    </tr>
    <tr>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">O(2ⁿ) Exponential</td>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">Two recursive calls for each case</td>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;"><code>Fibonacci recursion</code></td>
    </tr>
    <tr>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">O(n!) Factorial</td>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">Generate all permutations recursively</td>
      <td style="border: 1px solid #ddd; padding: 8px; text-align: left;"><code>Backtracking permutations</code></td>
    </tr>
  </tbody>
</table>

### Functions

Functions are block of statements that performs a specific task

In [5]:
def sum(a,b):
    sum = a+b
    return sum

sum(2,3)

5

In [6]:
def hello():
    print("Hello World")
    
hello()

Hello World

The return statement in a function allows you to send back (return) a result from the function to the caller. This makes functions versatile and reusable because they can produce output that can be used elsewhere in the program.

If we perform an operation inside a function but do not return the result, the result is not accessible outside the function

In [10]:
## WAP to calculate average of 3 numbers

def average(a,b,c):
    sum = a+b+c
    avg = sum/3
    return avg

average(98,97,95)

96.66666666666667

### Default parameters

In [1]:
def cal_prod(a,b):
    return(a*b)
cal_prod(4,6)

In [15]:
def cal_prod(a,b=5):
    return(a*b)
cal_prod(1)

5

In [16]:
def cal_prod(a=5,b):
    return(a*b)
cal_prod(1)

SyntaxError: non-default argument follows default argument (1144174367.py, line 1)

we give default values from last

### Practice questions

In [17]:
### WAF to print the length of a list.(list is the parameter)

cities = ["noida","delhi","hyderabad","chennai","mumbai","pune"]

def print_len(list):
    print(len(list))
    
print_len(cities)

6

In [20]:
### WAF to print the elements of a list in a single line. (list is the parameter)

cities = ["noida","delhi","hyderabad","chennai","mumbai","pune"]

def print_list(list):
    for i in cities:
        print(i, end = " ")
print_list(cities)

noida delhi hyderabad chennai mumbai pune

In [31]:
### WAF to find the factorial of n. (n is the parameter)

def fact(n):
    fact = 1
    for i in range(1,n+1):
        fact *= i
    print(fact)
fact(15)

1307674368000

In [32]:
### WAF to convert USD to INR

def converter(usd_val):
    inr_val = usd_val * 83
    print(usd_val,"USD =",inr_val,"INR")
    
converter(5)

5 USD = 415 INR

In [35]:
### WAF to take input from user and tell the number is either even or odd

n = int(input("Enter the number :"))

def ov_teller():
    if n%2 == 0:
        print("Given number is even",n)
    else :
        print("Given number is odd",n)
        
ov_teller()

Enter the number :3
Given number is odd 3

### Recursion

When a function call itself repeatedly

In [40]:
### recursive function

def show(n):
    if(n==0):
        return
    print(n)
    show(n-1)
    print("END")
show(5)

5
4
3
2
1
END
END
END
END
END

In [3]:
## Recursive Function

def fact(n):
    if (n==1 or n==0):
        return 1
    return fact(n-1)*n
print(fact(5))

120

In [7]:
## Write a recursive function to calculate the sum of natural numbers

def natural(n):
    if n==0:
        return 0
    return natural(n-1)+n
    
natural(100)

5050

In [3]:
## Write va recursive function to print all elements in a list Hint: use list & index as parameters

def print_list(list,idx=0):
    if idx == len(list):
        return
    print(list[idx], end = " ")
    print_list(list,idx+1)
    
cities = ["Andhra","Hyderabad","Bangalore","Delhi","Mumbai","Pune","Chennai"]

print_list(cities)

Andhra Hyderabad Bangalore Delhi Mumbai Pune Chennai