### Basic Patterns

understanding how outer and inner loops control rows & columns.

Print a 5√ó5 square of stars

*****
*****
*****
*****
*****

In [13]:
for i in range(5):
    for j in range(5) :
        print("*",end = "")
    print()

*****
*****
*****
*****
*****

Print a right triangle of stars

*
**
***
****
*****

In [14]:
for i in range(1,6) :
    for j in range(i) :
        print("*",end = "")
    print()

*
**
***
****
*****

Print numbers in a grid

1 2 3 
1 2 3 
1 2 3

In [23]:
for i in range(3):
    for j in range(1,4) :
        print(j, end = " ")
    print()

1 2 3
1 2 3
1 2 3

Print row and column numbers

Row1 : 1 2 3 
Row2 : 1 2 3 
Row3 : 1 2 3

In [60]:
for i in range(1,4) :
    print(f"Row{i} :", end = " ")
    for j in range(1,4) :
        print(j, end = " ")
    print()

Row1 : 1 2 3
Row2 : 1 2 3
Row3 : 1 2 3

### Number Patterns
#### Let's Increase complexity

 - using variables inside both loops.

Print increasing numbers in rows

1
12
123
1234
12345

In [30]:
for i in range(1,6) :
    for j in range(1,i+1):
        print(j, end = " ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

Print a number rectangle (Continuous Numbers)

1 2 3 
4 5 6 
7 8 9

In [33]:
number = 1
for i in range(3) :
    for j in range(3) :
        print(number, end = " ")
        number += 1
    print()

1 2 3
4 5 6
7 8 9

Reverse pattern

5 4 3 2 1 
4 3 2 1 
3 2 1 
2 1 
1

In [45]:
for i in range(5,0,-1) :
    for j in range (i,0,-1):
        print(j, end = " ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

### Logical Patterns
#### Let's Increase complexity

combining conditions and nested loops.

Hollow Square

*****
*   *
*   *
*   *
*****

In [83]:
n = 5
for i in range(n):
    for j in range(n):
        if i == 0 or i == n-1 or j == 0 or j == n-1 :
            print("*", end = "")
        else :
            print(" ", end = "")
    print()

*****
*   *
*   *
*   *
*****

`if i == 0 or i == n-1 or j == 0 or j == n-1:`

This checks **if the current position is at the border** of the square:

- `i == 0` ‚Üí top row

- `i == n-1` ‚Üí bottom row

- `j == 0 `‚Üí left border

- `j == n-1` ‚Üí right border

If any of these are true ‚Üí print a `*` 
Otherwise ‚Üí print a space `" "`

üí° **In simple words:**

- Outer loop = how many rows

- Inner loop = how many columns

- `if` = decides whether to print a star or space

- The first and last rows and columns are stars; the inside is empty (spaces).

Multiplication Table (1‚Äì10)

In [54]:
for i in range(1,11) :
    for j in range(1,11) :
        print(f"{i}*{j}={i*j}", end = "\t")
    print()

1*1=1	1*2=2	1*3=3	1*4=4	1*5=5	1*6=6	1*7=7	1*8=8	1*9=9	1*10=10
2*1=2	2*2=4	2*3=6	2*4=8	2*5=10	2*6=12	2*7=14	2*8=16	2*9=18	2*10=20
3*1=3	3*2=6	3*3=9	3*4=12	3*5=15	3*6=18	3*7=21	3*8=24	3*9=27	3*10=30
4*1=4	4*2=8	4*3=12	4*4=16	4*5=20	4*6=24	4*7=28	4*8=32	4*9=36	4*10=40
5*1=5	5*2=10	5*3=15	5*4=20	5*5=25	5*6=30	5*7=35	5*8=40	5*9=45	5*10=50
6*1=6	6*2=12	6*3=18	6*4=24	6*5=30	6*6=36	6*7=42	6*8=48	6*9=54	6*10=60
7*1=7	7*2=14	7*3=21	7*4=28	7*5=35	7*6=42	7*7=49	7*8=56	7*9=63	7*10=70
8*1=8	8*2=16	8*3=24	8*4=32	8*5=40	8*6=48	8*7=56	8*8=64	8*9=72	8*10=80
9*1=9	9*2=18	9*3=27	9*4=36	9*5=45	9*6=54	9*7=63	9*8=72	9*9=81	9*10=90
10*1=10	10*2=20	10*3=30	10*4=40	10*5=50	10*6=60	10*7=70	10*8=80	10*9=90	10*10=100

In [62]:
for i in range(1, 11):  
    for j in range(1, 11): 
        print(f"{j}*{i}={i*j:2}", end="\t") 
    print()

1*1= 1	2*1= 2	3*1= 3	4*1= 4	5*1= 5	6*1= 6	7*1= 7	8*1= 8	9*1= 9	10*1=10
1*2= 2	2*2= 4	3*2= 6	4*2= 8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18	10*2=20
1*3= 3	2*3= 6	3*3= 9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27	10*3=30
1*4= 4	2*4= 8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36	10*4=40
1*5= 5	2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45	10*5=50
1*6= 6	2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54	10*6=60
1*7= 7	2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63	10*7=70
1*8= 8	2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72	10*8=80
1*9= 9	2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81	10*9=90
1*10=10	2*10=20	3*10=30	4*10=40	5*10=50	6*10=60	7*10=70	8*10=80	9*10=90	10*10=100

- `i` controls the multiplier (vertical position).

- `j` controls which table (horizontal position).

- `:2` ensures numbers align neatly.

- `end="\t"` separates tables with a tab for side-by-side display.

Print a checkerboard pattern (alternate 0 and 1)

1 0 1 0 1 
0 1 0 1 0 
1 0 1 0 1 
0 1 0 1 0 
1 0 1 0 1

In [65]:
n = 5
for i in range(1,n +1) :
    for j in range(1,n + 1) :
        if (n % i == 0) or (n % j == 0) :
            print("1", end = " ")
        else :
            print("0", end = " ")
    print()

1 1 1 1 1
1 0 0 0 1
1 0 0 0 1
1 0 0 0 1
1 1 1 1 1

- `(n % i == 0)` is about whether `i` divides `n` exactly ‚Äî it has **nothing to do with creating an alternating 1-0 pattern**.

- The alternating `1010` pattern depends on the **position in the grid** (i.e., row + column), **not factors of n.**

In [69]:
n = 5 
m = 5  

for i in range(n):
    for j in range(m):
        if (i + j) % 2 == 0:
            print("1", end=" ")
        else:
            print("0", end=" ")
    print()

1 0 1 0 1
0 1 0 1 0
1 0 1 0 1
0 1 0 1 0
1 0 1 0 1

- `1` appears when `(row index + column index)` is even.

- `0` appears when `(row index + column index)` is odd.

- Creates a **perfect alternating 1010 checkerboard pattern**.

- Pattern depends only on **position**, not on `n` or factors.

#### Step 1: Label rows (`i`) and columns (`j`)

#### Step 2: Compute `i + j` for each cell

#### Step 3: Check `(i + j) % 2`

- Even ‚Üí 1
- Odd ‚Üí 0

- `(n % i == 0)` **‚Üí factor check**, pattern depends on `n`‚Äôs divisors.

- `(i + j) % 2 == 0` ‚Üí **alternating pattern**, depends on **position in grid**.

- For `1010` pattern, always use **row+column modulo** 2, not `n % i`.

### Interesting Challenges

#### Let's Increase complexity

Combine logic, math, and formatting.

Print a pyramid of stars

    *
   ***
  *****
 *******
*********

In [71]:
rows = 5
for i in range(1, rows + 1):
    print(" " * (rows - i), end="")   
    print("*" * (2 * i - 1))

    *
   ***
  *****
 *******
*********

`for i in range(1, rows + 1):`  
`i` represents the **current row number** (1 to 5).  
`range(1, rows + 1)` generates `[1, 2, 3, 4, 5]`.


| Row (i) | Spaces (`rows-i`) | Stars (`2*i-1`) | Output      |
| ------- | ---------------- | --------------- | ----------- |
| 1       | 4                | 1               | `    *`     |
| 2       | 3                | 3               | `   ***`    |
| 3       | 2                | 5               | `  *****`   |
| 4       | 1                | 7               | ` *******`  |
| 5       | 0                | 9               | `*********` |

Row 1: ....*       (4 spaces, 1 star)  
Row 2: ...***      (3 spaces, 3 stars)  
Row 3: ..*****     (2 spaces, 5 stars)  
Row 4: .*******    (1 space, 7 stars)  
Row 5: *********   (0 spaces, 9 stars)

The `.` shows empty space.

As the spaces decrease and stars increase, the stars are **pushed to the center**, forming a pyramid.

Print Floyd‚Äôs Triangle

1
2 3
4 5 6
7 8 9 10

In [80]:
nums = 1

for i in range(1,5):
    for j in range(1,i+1):
        print(nums, end = " ")
        nums += 1
    print()

1
2 3
4 5 6
7 8 9 10

Pascal‚Äôs Triangle

     1 
    1 1 
   1 2 1 
  1 3 3 1 
 1 4 6 4 1

In [81]:
from math import comb

rows = 5
for i in range(rows):
    print(" " * (rows - i), end="")
    for j in range(i + 1):
        print(comb(i, j), end=" ")
    print()

     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1


So every middle value in Pascal‚Äôs Triangle is formed by **adding the two values diagonally above it**.

  1
 1 1
1 2 1
 ‚Üë ‚Üë
 ‚îÇ ‚îÇ
 ‚îî‚îÄ‚î¥‚îÄ‚îÄ‚Üí 2  (1 + 1)

#### üß† Formula Reminder

\[
C(n, k) = C(n-1, k-1) + C(n-1, k)
\]

#### üîç Meaning of Each Part

- **n** ‚Üí Row number *(starting from 0)*  
- **k** ‚Üí Position inside that row *(starting from 0)*  
- **C(n, k)** ‚Üí Value at that specific position in Pascal‚Äôs Triangle  

---

For example:
\[
C(4, 2) = 6
\]
This means:
- It‚Äôs in **row 4** (the 5th row, counting from 0)
- It‚Äôs at **position 2** in that row  
- And its value is **6**

#### üîπ We start from:

**Row 3** ‚Üí `1 3 3 1`  
We want to build ‚Üí **Row 4**

     1 
    1 1 
   1 2 1 
  1 3 3 1 
 1 4 6 4 1

| Position (k) | Formula Used               | Explanation                                                                             | Result |
| ------------ | -------------------------- | --------------------------------------------------------------------------------------- | ------ |
| **0**        | `C(4,0)=1 (edge)`          | The first element of every row is **always 1**. (No number above-left exists.)          | **1**  |
| **1**        | `C(4,1)=C(3,0)+C(3,1)=1+3` | Take the number **above-left** (`C(3,0)=1`) and **above-right** (`C(3,1)=3`), add them. | **4**  |
| **2**        | `C(4,2)=C(3,1)+C(3,2)=3+3` | Add the two numbers above it ‚Üí both 3s from Row 3.                                      | **6**  |
| **3**        | `C(4,3)=C(3,2)+C(3,3)=3+1` | Add upper-left (`3`) and upper-right (`1`).                                             | **4**  |
| **4**        | `C(4,4)=1 (edge)`          | Last element of every row is **always 1**. (No number above-right exists.)              | **1**  |